:root{
   --CorPrincipal:pink;
   --TextoPrincipal: #fffafa;
   --CorSecundaria: rgb(255, 215, 222);
}
h3{
   color: rgb(81, 81, 81);
 }
 p{
   color: rgb(84, 84, 84);
   text-align:justify;
   margin: 0% 20% 0% 20%;
 }
 .fundo_destaque{
    background-color:var(--CorPrincipal);
    padding: 7px 0% 13px 0%;
 }
 #paragrafoT{
    font-size: 140%;
    color: black;
    text-align: center;
 }
 div{
    background-color:var(--CorSecundaria);
    margin: 0% 7% 0% 7%;
    padding: 0px 0px 5px 0px;
 }
 body{
    background-image:url("fundo\ hello\ kitty.jpg");
    text-align: center;
    margin: auto;
 }
 footer{
    background-color: rgba(248, 248, 255, 0.705);
    color:var(--TextoPrincipal);
    margin: 0% 7% 0% 7%;
    padding: 1px 0px 1px 0px;
    text-align: center;
 }
header{
   background-color: var(--CorPrincipal);
   font-size: 120%;
   display: flex;
   justify-content: space-around;
   margin: 0px 7% 15px 7%;
 }
button{
   padding: 10px 60px;
   margin: auto;
   background-color: var(--CorPrincipal);
   color: black;
   border: none;
}
button:hover{
   background-color:var(--CorSecundaria);
}
 a:link{
   color:var(--TextoPrincipal);
   text-decoration: none;
 }
 a:hover{
   text-decoration: underline;
 }
 a:visited{
   color: var(--TextoPrincipal);
 }
 ul{
   display: inline;
 }