:root{
   --CorPrincipal:pink;
   --TextoPrincipal: #fffafa;
   --CorSecundaria: #ffd7de;
}
body{
   background-image:url("fundo\ hello\ kitty.jpg");
   text-align: center;
   margin: auto;
}
#separador{
   background-color:var(--CorSecundaria);
   margin: 3% 7%;
   width: 86%;
   padding: 0px 0px 1rem 0px;
}
h1{
   width: 55%;
   margin: auto;
}
h3{
   color: rgb(81, 81, 81);
}
p{
  color: rgb(84, 84, 84);
  text-align: start;
  margin: 0% 20%;
}
.destaque{
   background-color:var(--CorPrincipal);
   padding: 7px 0% 13px 0%;
}
#paragrafoT{
   font-size: 140%;
   color: black;
   text-align: center;
}
#normal{
   background-color: var(--CorPrincipal);
   font-size: 120%;
   margin: 0px 7%;
   width: 86%;
}
#normal{
   display: flex;
   justify-content: space-around;
}
#icons{
   display: none;
}
header a{
  width: 100%;
  padding: 2% 0;
  background-color: var(--CorPrincipal);
  color: black;
  border: none;
  text-decoration: none;
}
a img{
   width:80%;
   height:80%;
}
a:hover{
   background-color:var(--CorSecundaria);
}

footer{
  background-color: rgba(248, 248, 255, 0.705);
  color:var(--TextoPrincipal);
  padding: 1rem 0 1rem 0;
  text-align: center;
}
@media only screen and (max-width: 1000px){
   #normal{
      display: none;
   }
   #responsive{
      display: none;
   }
   #icons{
      display: block;
      padding: 0 15% 0;
   }
   #icons nav{
      display: flex;
      flex-direction: column;
      width: 12%;
      position: fixed;
      left: 0;
   }
   #icons label{
      display: none;
   }
   #icons a{
      border-radius: 0 30% 30% 0;
      display:block;
      transition:all .5s ease-out;
   }
   #icons a:hover{
    border-radius: 0 30% 30% 0;
    display: flex;
    align-items: center;
    padding-right: 30%;
    padding-left: 10px;
    
   }
   #icons a:hover label{
      display:block;
   }
   #icons #delineado_link:hover{
      padding-right: 60%;
   }
}
@media only screen and (max-width: 600px){
   #icons nav{
      width: 15%;
   }
   p{
      margin: 0 10%;
   }
   h1{
      width: 90%;
   }
   #icons a:hover img{
      display: none;      
   }
   #icons a:hover label{
      padding: 30% 0;
   }
   #separador{
      width: 79%;
      margin: 0 0 0 18%;
   }
}